################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


/.vs/Katas
/*/bin/*
/*/obj/*
/_ReSharper.Caches/*
/.idea/.idea.Katas/.idea/codeStyles/codeStyleConfig.xml
/.idea/.idea.Katas/.idea/contentModel.xml
/.idea/.idea.Katas/.idea/encodings.xml
/.idea/.idea.Katas/.idea/indexLayout.xml
/Katas.sln.DotSettings.user
/.idea/.idea.Katas/.idea/modules.xml
/.idea/.idea.Katas/.idea/projectSettingsUpdater.xml
/.idea/.idea.Katas/riderModule.iml
/.idea/.idea.Katas/.idea/vcs.xml
/.idea/.idea.Katas/.idea/workspace.xml
